@font-face {
    font-family: "RobotoCondesed";
    src: url("/fonts/RobotoCondensed-Light.ttf");
}

header {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: "RobotoCondesed";
    font-size: 5vw;
}

main {
    height: 85%;
}

#icon img {
    height: 30px;
    width: 30px;
}

footer {
    height: 5%;
}

footer>p {
    align-content: flex-end;
    text-align: center;
    margin-top: 20px;
    font-size: 4vw;

}