body {
    background-color: turquoise;
}

#header_name {
    margin-right: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs {
    width: 100%;
}

label {
    font-size: 15px;
    margin-left: 5px;
}

input {
    width: 90vw;
    height: 12vw;
    margin: 5px;
}

#text_under_password {
    text-align: center;
}

button {
    font-size: 6vw;
    height: 12vw;
    width: 80vw;
}

a {
    margin-top: 10px;
}

.feedback {
    width: 80vw;
    background-color: white;
    position: absolute;
    top: 70vw;
    left: 10vw;
    border-radius: 10px;
    border: 1px solid black;
    visibility: hidden;
}

.feedback.visible {
    visibility: visible;
    opacity: 90%;
    z-index: 1;
}

#filter {
    visibility: hidden;
}

#filter.visible {
    visibility: visible;
    background-color: rgba(248, 248, 255, 0.6);
    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;
}


.feedback>p {
    font-size: 20px;
    text-align: center;
}

.feedback>button {
    width: 90%;
    justify-items: center;
    margin: 12px;

}

#text_under_password {
    padding: 2px;
    margin: 4px;
}